<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>male_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,2},{305,863}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,863}}</string>
                <key>sourceSize</key>
                <string>{305,863}</string>
            </dict>
            <key>male_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,886},{299,858}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,858}}</string>
                <key>sourceSize</key>
                <string>{299,858}</string>
            </dict>
            <key>male_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,2},{321,847}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{321,847}}</string>
                <key>sourceSize</key>
                <string>{321,847}</string>
            </dict>
            <key>male_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,866},{299,847}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,847}}</string>
                <key>sourceSize</key>
                <string>{299,847}</string>
            </dict>
            <key>male_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,867},{299,847}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,847}}</string>
                <key>sourceSize</key>
                <string>{299,847}</string>
            </dict>
            <key>male_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,1716},{299,847}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,847}}</string>
                <key>sourceSize</key>
                <string>{299,847}</string>
            </dict>
            <key>male_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,867},{299,847}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,847}}</string>
                <key>sourceSize</key>
                <string>{299,847}</string>
            </dict>
            <key>male_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,2},{299,862}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,862}}</string>
                <key>sourceSize</key>
                <string>{299,862}</string>
            </dict>
            <key>male_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{299,882}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,882}}</string>
                <key>sourceSize</key>
                <string>{299,882}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>male.png</string>
            <key>size</key>
            <string>{1234,2017}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b6939df9535299ed247ae3a75fddc08b$</string>
            <key>textureFileName</key>
            <string>male.png</string>
        </dict>
    </dict>
</plist>
