<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>male_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,604},{299,847}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,847}}</string>
                <key>sourceSize</key>
                <string>{299,847}</string>
            </dict>
            <key>male_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,2},{299,858}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,858}}</string>
                <key>sourceSize</key>
                <string>{299,858}</string>
            </dict>
            <key>male_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1711,2},{321,847}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{321,847}}</string>
                <key>sourceSize</key>
                <string>{321,847}</string>
            </dict>
            <key>male_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,604},{299,847}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,847}}</string>
                <key>sourceSize</key>
                <string>{299,847}</string>
            </dict>
            <key>male_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,303},{299,847}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,847}}</string>
                <key>sourceSize</key>
                <string>{299,847}</string>
            </dict>
            <key>male_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,303},{299,847}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,847}}</string>
                <key>sourceSize</key>
                <string>{299,847}</string>
            </dict>
            <key>male_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{299,847}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,847}}</string>
                <key>sourceSize</key>
                <string>{299,847}</string>
            </dict>
            <key>male_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,905},{299,862}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,862}}</string>
                <key>sourceSize</key>
                <string>{299,862}</string>
            </dict>
            <key>male_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,905},{299,882}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,882}}</string>
                <key>sourceSize</key>
                <string>{299,882}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>male.png</string>
            <key>size</key>
            <string>{2034,1206}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7f8eeeca47ac756ba6fbba3820bf19e2$</string>
            <key>textureFileName</key>
            <string>male.png</string>
        </dict>
    </dict>
</plist>
