<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>select_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,2},{97,45}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{97,45}}</string>
                <key>sourceSize</key>
                <string>{103,45}</string>
            </dict>
            <key>select_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,2},{97,45}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{97,45}}</string>
                <key>sourceSize</key>
                <string>{103,45}</string>
            </dict>
            <key>select_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,2},{97,45}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{97,45}}</string>
                <key>sourceSize</key>
                <string>{103,45}</string>
            </dict>
            <key>select_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{97,45}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{97,45}}</string>
                <key>sourceSize</key>
                <string>{103,45}</string>
            </dict>
            <key>select_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,2},{97,45}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,45}}</string>
                <key>sourceSize</key>
                <string>{103,45}</string>
            </dict>
            <key>select_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,2},{95,45}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,45}}</string>
                <key>sourceSize</key>
                <string>{103,45}</string>
            </dict>
            <key>select_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,2},{97,45}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,45}}</string>
                <key>sourceSize</key>
                <string>{103,45}</string>
            </dict>
            <key>select_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,2},{95,45}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{95,45}}</string>
                <key>sourceSize</key>
                <string>{103,45}</string>
            </dict>
            <key>select_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,2},{97,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{97,45}}</string>
                <key>sourceSize</key>
                <string>{103,45}</string>
            </dict>
            <key>select_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{97,45}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{97,45}}</string>
                <key>sourceSize</key>
                <string>{103,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>selectAnim.png</string>
            <key>size</key>
            <string>{889,49}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5bd9f243c1a7b52fe4af15dbf8d90030$</string>
            <key>textureFileName</key>
            <string>selectAnim.png</string>
        </dict>
    </dict>
</plist>
